@import "../../style.scss";

.dashboard {
    @include themify($themes) {
        width: 100%;
        height: 100dvh;

        .navbar {
            .left {
                .back {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                
                    .arrow {
                        width: 20px;
                        height: 20px;
                        color: black;
                    }

                    span {
                        color: black;
                    }
                }
            }
        }
    }
}