@import "../../style.scss";

.navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
        position: sticky;
        top: 0;
        background-color: themed("bg");
        color: themed("textColor");
        z-index: 99;
        gap: 10px;


        .left {
            display: flex;
            align-items: center;
            gap: 18px;
            flex: 1;

            .icon {
                display: flex;
                align-items: center;
                padding: 15px;
                border-radius: 15%;
                transition: 0.2s ease-out;
                color: themed("textColor");
                cursor: pointer;
            }

            .icon:hover {
                background-color: themed("bgSoft");
                transition: 0.2s ease-in;
            }

            span {
                font-weight: bold;
                font-size: 20px;
                color: themed("logo");
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    filter: invert(37%) sepia(33%) saturate(5714%) hue-rotate(321deg) brightness(98%) contrast(107%);
                }
            }
        }

        .center {
            display: flex;
            gap: 10px;
            flex: 1;
            justify-content: center;

            @include mobile {
                display: none;
            }

            span {
                background-color: themed("bg");
                padding: 15px;
                border-radius: 20px;
                font-weight: 400;
                transition: 0.1s ease-out;
                cursor: pointer;
            }

            span:hover {
                background-color: themed("bgSoft");
                transition: 0.1s ease-in;
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
            flex: 1;
            justify-content: flex-end;

            .notifications {
                width: 400px;
                min-height: 0px;
                max-height: 350px;
                overflow: auto;
                background-color: themed("bg");
                border-radius: 10px;
                position: absolute;
                top: 65px;
                right: 150px;
                padding: 10px;
                display: flex;
                flex-direction: column;

                -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

                hr {
                    border: 1px solid themed("border");
                }

                .notification {
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    border-radius: 10px;
                    transition: 0.05s ease-out;
                    cursor: pointer;
                    gap: 10px;
                    position: relative;

                    .notiContainer {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        span {
                            font-size: 16px;
                            color: themed("textColor");

                            .userEmisor {
                                font-weight: 600;
                            }
                        }

                    }

                    .close {
                        position: absolute;
                        right: 20px;
                        z-index: 100;
                    }

                    .close:hover {
                        color: themed("textColorsoft");
                    }
                }

                .notification:hover {
                    background-color: themed("bgSoft");
                    transition: 0.05s ease-in;
                }

            }

            .userOptions {
                width: 120px;
                background-color: themed("bg");
                position: absolute;
                display: flex;
                flex-direction: column;
                right: 10px;
                top: 65px;
                padding: 5px;
                border-radius: 10px;
                z-index: 10;

                -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

                hr {
                    margin: 0;
                    border: none;
                    height: 0.2px;
                    background-color: themed("border");
                }

                span {
                    font-weight: 400;
                    border-radius: 5px;
                    padding: 10px;
                    transition: 0.1s ease-out;
                }

                span:hover {
                    background-color: themed("bgSoft");
                    transition: 0.1s ease-in;
                    cursor: pointer;
                }


            }

            .icon {
                display: flex;
                align-items: center;
                padding: 15px;
                border-radius: 15%;
                transition: 0.2s ease-out;
                cursor: pointer;
                position: relative;

                span {
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    font-size: 12px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
            }

            .icon:hover {
                background-color: themed("bgSoft");
                transition: 0.2s ease-in;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;
                padding: 8px 15px;
                border-radius: 15px;
                cursor: pointer;
                transition: 0.2s ease-out;

                @include tablet {
                    display: none;
                }

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                span {}
            }

            .user:hover {
                background-color: themed("bgSoft");
                transition: 0.2s ease-in;
            }
        }
    }
}