@import "../../style.scss";

.book {
    @include themify($themes) {
        flex: 0.6;
        border: 1px solid themed("border");
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;

        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

        span {
            font-weight: 700;
            font-size: 24px;
        }

        .dates {

            div {
                border: 1px solid themed("border");
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 2px;
                cursor: pointer;

                span {
                    font-size: 10px;
                }
            }

            .arrival {
                border-radius: 8px 8px 0 0;
            }

            .p-inputtext {
                border: none;
                outline: none;
                width: 100%;
                padding: 5px 0;
                cursor: pointer;
                background-color: themed("bg");
                color: themed("textColor");
            }

            .p-inputtext:enabled:focus {
                box-shadow: none;
            }

            .departure {
                border-top: none;
                border-radius: 0 0 8px 8px;
            }
        }

        button {
            padding: 12px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            color: white;
            font-weight: 600;
            font-size: 14px;
            width: 300px;
            background-color: #ff3370;
            align-self: center;
            transition: 0.1s ease-out;
        }

        button:hover {
            background-color: #b10035;
            transition: 0.1s ease-in;
        }

        .rates {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .rate {
                display: flex;
                justify-content: space-between;
                color: themed("textColorsoft");

                .rateName {
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: underline;
                }

                span {
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }

        hr {
            border: none;
            width: 100%;
            background-color: themed("border");
            height: 1px;
        }

        .total {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }

    .selectArrival,
    .selectDeparture {
        position: absolute;
        width: 500px;
        height: 400px;
        background-color: white;
        border-radius: 10px;
        top: 50px;
        right: -20px;
        padding: 10px;

        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        display: none;
    }

    .selectDeparture {
        display: none;
    }
}